html {
  font-size: 13px;
  background: #0253A7 url(../images/grain.jpg);
}

.mg-chart-title {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 1.5rem;
  font-weight: 400;
}

.container-charts {
  background-image: url(../images/alpha.png);
  margin: 0px auto 0;
  padding: 40px;
}

.container-prose {
  background-color: #fff;
  color: #3b3b3b;
  opacity: .9;
  margin: 0 auto 40px;
  padding: 20px;
}

.credits {
  margin: 0 auto 20px;
  font-size: .9rem;
}

.credits img {
  width: 100px;
}

svg {
  margin-top: 30px;
}

body {
  font-family: 'Open Sans',sans-serif,Arial;
  /*background: url(../images/bg3-black.jpg) 50% -70px no-repeat;*/
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 1.1rem;
  line-height: 24px;
}

.it {
  font-style: italic;
}

a,a:active,a:visited {
  color: #70b6f1;
  text-decoration: none;
}

a:hover {
  color: #70b6f1;
}

.footer {
  font-size: .9rem;
}

h1 {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 46px;
  font-weight: 300;
  margin: 5px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}

.profile-photo img {
  filter: grayscale(100%);
}

.profile-photo img:hover {
  filter: grayscale(0);
}

.transparent-rollover-rect {
  fill: #fff;
}

.mg-missing-background {
  stroke: #ccc;
}

.hr {
  border-bottom: 1px solid #3b3b3b;
  height: 24px;
  margin: 20px 0 10px;
}

.buttons {
  position: absolute;
  right: -10px;
}

.btn-group {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 15px;
}

.btn-group span.which-button {
  font-weight: 300;
  color: #a9a9a9;
}

.btn-group span.title {
  margin-left: 4px;
  margin-right: 4px;
}

.mg-active-datapoint {
  font-size: .85rem;
}

.mg-line-legend text {
  font-size: .88rem;
}

.header {
  height: 20px;
}

.mg-line6-color {
  stroke: #ffc0cb;
}

.mg-hover-line6-color {
  fill: #ffc0cb;
}

.mg-line6-legend-color {
  color: #ffc0cb;
  fill: #ffc0cb;
}

.mg-area6-color {
  fill: #ffc0cb;
}

.mg-line7-color {
  stroke: #cb5cff;
}

.mg-hover-line7-color,.mg-area7-color {
  fill: #cb5cff;
}

.mg-line7-legend-color {
  color: #cb5cff;
  fill: #cb5cff;
}

.mg-line8-color {
  stroke: #9edae5;
}

.mg-hover-line8-color,.mg-area8-color {
  fill: #9edae5;
}

.mg-line8-legend-color {
  color: #9edae5;
  fill: #9edae5;
}

.mg-line9-color {
  stroke: #17becf;
}

.mg-hover-line9-color,.mg-area9-color {
  fill: #17becf;
}

.mg-line9-legend-color {
  color: #17becf;
  fill: #17becf;
}

.mg-line10-color {
  stroke: #dbdb8d;
}

.mg-hover-line10-color,.mg-area10-color {
  fill: #dbdb8d;
}

.mg-line10-legend-color {
  color: #dbdb8d;
  fill: #dbdb8d;
}

.mg-line11-color {
  stroke: #bcbd22;
}

.mg-hover-line11-color,.mg-area11-color {
  fill: #bcbd22;
}

.mg-line11-legend-color {
  color: #bcbd22;
  fill: #bcbd22;
}

.profile-photo {
  border-radius: 100%;
  background-clip: padding-box;
  border: 5px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  width: 150px;
  height: 150px;
  display: block;
  margin: 24px auto 6px;
}

.profile-photo img {
  border-radius: 100%;
  background-clip: padding-box;
  width: 100%;
  height: auto;
}

.team {
  margin: 0 auto 20px;
}

.date-hero {
  font-size: 120%;
  margin: 20px auto;
}

.date-hero div {
  margin-left: -40px;
}

.hero-left {
  top: 0;
  padding: 0 10px;
  position: absolute;
  cursor: pointer;
}

.hero-right {
  top: 0;
  padding: 0 10px;
  position: absolute;
  cursor: pointer;
}

.formatted-date {
  opacity: .6;
  margin: auto 20px auto 50px;
}

.date-hero a {
  text-decoration: none;
}

.date-hero a:hover {
  color: #bde1ff;
}

.detail-prose {
  color: #a0a0a0;
  margin-top: 80px;
  background-color: #131313;
  text-align: justify;
  text-justify: inter-word;
}

.subtitle-prose {
  text-align: justify;
  text-justify: inter-word;
}

.detail-prose p {
  margin: 10px 0;
}

.about-prose p{
  text-align: justify;
  text-justify: inter-word;
}

.mg-x-axis text,.mg-y-axis text {
  font-size: .95rem;
}

.detail-header {
  color: #484848;
  font-size: 24px;
  font-weight: 400;
  border-top: 1px solid #1f1f1f;
  margin: 50px 0 20px;
  padding-left: 0;
}

path {
  stroke: #fff;
}

circle {
  fill: #fff;
}

.mg-line-legend text {
  font-size: .75rem;

}

.hero-p {
  padding-left: 80px;
}

.legal {
  margin-top: 20px;
}

@media (max-width:450px) {
  .mg-x-axis text,.mg-y-axis text {
    font-size: .8rem;
  }

  .mg-active-datapoint,
  .mg-line-legend text {
    font-size: .65rem;
  }
}

@media (max-width:1200px) {
  .detail-prose {
    margin-top: 10px;
    border-left: 0;
  }

  .hero-p {
    padding-left: 15px;
  }
}

.data-last-updated {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 40px;
}

.hor-line {
  margin-top: 10px;
  border-top: 2px solid #3b3b3b;
  padding-top: 10px;
}

.no-margin {
  margin: 0;
}

.tooltip .tooltip-inner {
  background-color: rgb(58, 63, 68);
}
.tooltip .tooltip-arrow {
  border-bottom-color: rgb(58, 63, 68);
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content{
  width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events:all;
}

.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

/* set lists back to black for bootstrap & jquery popover */
.modal-content li{
  color: rgb(0, 0, 0);
}

.popover-content li{
  color: rgb(0, 0, 0);
}

.container.foo {
  margin-top: 15px;
}

.links {
  float: right;
  margin-top: 10px;
}

.btn-home {
  float: right;
  margin-top: 10px;
}

.btn-home:visited {
  color: white;
}
